﻿@using emapartielcsharp.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h1>Panier</h1>
    <ul>
        @foreach (Products p in ViewBag.PanierItems)
        {
            <li>@p.Name (@p.Price)</li>
        }
        <li><b>Total:</b> @ViewBag.PanierPrix</li>
    </ul>
    <hr />
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <hr />
    <a href="/Admin/Products/">Admin</a>
</body>
</html>
