﻿@model IEnumerable<emapartielcsharp.Models.Products>

@{
    ViewBag.Title = "Anamytics";
}
<a href="/">Retour à la boutique</a>
<h2>Analytics</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CptAffichage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CptPanier)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CptAffichage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CptPanier)
            </td>
        </tr>
    }

</table>
